/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 21, 2022, 5:31:17 PM
    Author     : ASUS
*/

/*Management*/
.Management, .ManagementBook {
    -fx-background-color: lightgreen;
    -fx-family: Tahoma;
    -fx-alignment: CENTER;
    -fx-padding: 10;
    -fx-spacing: 10;
}

Button.btn-management {
    -fx-font-size: 24;
    -fx-pref-width: 400;
}

/*ManagementBook*/
.ManagementBook *{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-spacing: 10;
}

.txt-managementbook Text, TextField, TextArea, DatePicker{
    -fx-pref-width: 1000;
}

.btn-managementbook {
    -fx-pref-width: 200;
    -fx-alignment: CENTER;
    -fx-spacing: 20;
    -fx-font-weight: bold;
}

Text.title-managementbook {
    -fx-spacing: 20;
    -fx-alignment: CENTER;
    -fx-font-size: 36;
    -fx-fill: lightgreen;
    -fx-stroke-width: 3;
    -fx-stroke: green;
}

Lable.lbMess {
    -fx-fill: red;
}