/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 21, 2022, 5:31:17 PM
    Author     : ASUS
*/

GridPane.grpSignIn, GridPane.grpSignUp, .vboxSearch, .tbBook {
    -fx-background-color: lavenderblush;
}

Button.btnSignIn, Button.btnSignUp, Button.btnReturn, Button.btnReserve {
    -fx-background-color: darkblue;
    -fx-text-fill: white;
    /*-fx-font-weight: bold;*/
}


